header{
  text-align: center;
  border: 1px solid black;
  padding: 50px;
  background-color: rgb(45, 145, 191);
}
h1 {
  height:30px
   display inline;
}
p {
  margin: 10px;
  border: 1px solid black;
  display: inline-flexbox;
  line-height:2
}
span{
  border: 0px solid black;
  
}
