body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    background: white;
    padding: 40px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-top: 20px;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button{
    width: 100%;
   margin-top: 20px;
    padding: 15px;
background-color: bisque;
color: white;
border:none;
cursor: pointer;
}
